[submodule "submodules/cppgl"]
	path = submodules/cppgl
	url = git@git9.cs.fau.de:renderingframeworks/cppgl.git
	branch = master
[submodule "submodules/pybind11"]
	path = submodules/pybind11
	url = https://github.com/pybind/pybind11
[submodule "submodules/voldata"]
	path = submodules/voldata
	url = git@git9.cs.fau.de:ul40ovyj/voldata.git
