[submodule "submodules/pybind11"]
	path = submodules/pybind11
	url = https://github.com/pybind/pybind11
[submodule "submodules/cppgl"]
	path = submodules/cppgl
	url = https://github.com/nihofm/cppgl
[submodule "submodules/voldata"]
	path = submodules/voldata
	url = https://github.com/nihofm/voldata
[submodule "submodules/tinycolormap"]
	path = submodules/tinycolormap
	url = https://github.com/yuki-koyama/tinycolormap
